
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
}

<!-- Begin Page Content -->
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12 mb-4">

                            <!-- Illustrations -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Illustrations</h6>
                                </div>
                                <div class="card-body">
                                    <p>Add some quality, svg illustrations to your project courtesy of <a
                                            target="_blank" rel="nofollow" href="https://undraw.co/">unDraw</a>, a
                                        constantly updated collection of beautiful svg images that you can use
                                        completely free and without attribution!</p>
                                </div>
                            </div>

                            <!-- Approach -->
                            <div class="row">
                                <div class="col-3">
                                    <div class="card shadow mb-4">
                                        <div class="card-header py-3">
                                            <h6 class="m-0 font-weight-bold text-primary">Development Approach</h6>
                                        </div>
                                        <div class="card-body">
                                            <div><i class="fas fa-project-diagram"></i></div>
                                            <p>SB Admin 2 makes extensive use of Bootstrap 4 utility classes in order to
                                                reduce
                                                CSS bloat and poor page performance. Custom CSS classes are used to
                                                create
                                                custom components and custom utility classes.</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-3">
                                    <div class="card shadow mb-4">
                                        <div class="card-header py-3">
                                            <h6 class="m-0 font-weight-bold text-primary">Development Approach</h6>
                                        </div>
                                        <div class="card-body">
                                            <div><i class="fas fa-project-diagram"></i></div>
                                            <p>SB Admin 2 makes extensive use of Bootstrap 4 utility classes in order to
                                                reduce
                                                CSS bloat and poor page performance. Custom CSS classes are used to
                                                create
                                                custom components and custom utility classes.</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-3">
                                    <div class="card shadow mb-4">
                                        <div class="card-header py-3">
                                            <h6 class="m-0 font-weight-bold text-primary">Development Approach</h6>
                                        </div>
                                        <div class="card-body">
                                            <div><i class="fas fa-project-diagram"></i></div>
                                            <p>SB Admin 2 makes extensive use of Bootstrap 4 utility classes in order to
                                                reduce
                                                CSS bloat and poor page performance. Custom CSS classes are used to
                                                create
                                                custom components and custom utility classes.</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-3">
                                    <div class="card shadow mb-4">
                                        <div class="card-header py-3">
                                            <h6 class="m-0 font-weight-bold text-primary">Development Approach</h6>
                                        </div>
                                        <div class="card-body">
                                            <div><i class="fas fa-project-diagram"></i></div>
                                            <p>SB Admin 2 makes extensive use of Bootstrap 4 utility classes in order to
                                                reduce
                                                CSS bloat and poor page performance. Custom CSS classes are used to
                                                create
                                                custom components and custom utility classes.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

